* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    width: 50%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
}
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    padding: 10px;
    background: rgb(37, 122, 219);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
}
.clear {
    margin-left: 20px;
}