* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box {
    height: 30px;
    border: 1px solid black ;
    flex: calc(6.25%);
}